ORACLE_USER=sanaya
ORACLE_PASS=123
ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_DB=XEPDB1
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1
ORACLE_USE_THICK=false
# ORACLE_CLIENT_LIB_DIR=/opt/oracle/instantclient_23_7

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=8h
COOKIE_SECURE=false
COOKIE_DOMAIN=

ADMIN_EMAIL=admin@sanaya.local
ADMIN_PASSWORD=admin123
ADMIN_NOMBRES=Super
ADMIN_APELLIDOS=Admin

ADMIN_EMAIL_SECONDARY=admin@sanaya.com
ADMIN_PASSWORD_SECONDARY=123456
ADMIN_NOMBRES_SECONDARY=Admin
ADMIN_APELLIDOS_SECONDARY=Secundario

# Frontend URL para CORS
FRONTEND_URL=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
